body {
  background: url("shop.jpg");
  background-size: cover contain;
}

.brand-table {
  margin: 0 auto;
  width: 70vw;
}

#brand-details {
  text-align: center;
}

#edit-brand-details {
  width: 70vw;
  margin: 0 auto;
  margin-top: 28px;
}
